*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #1a1a1a;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin: 15px;
}

h1 span{
    color: yellow;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

.container-img{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

section img{
    width: 50%;
}

header img{
    width: 8rem;
}

header ul{
    display: flex;
    list-style-type: none;
}

header ul li{
    margin: 5px;
}

header a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 15px;
}